@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@200;400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font-family: 'Exo 2', sans-serif;
}

.hero{
    background-color: rgb(76, 0, 51);
}

.header{
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.087);
    z-index: 1;
}

.header__menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.download{
    padding-top: 3.5rem;
    display: flex;
    justify-content: center;
    height: 50vh;
}

.download__main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 35%;
    gap: 1rem;
}

.button{
    padding: 10px 20px;
    background-color: #E80F88;
    border: 0;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.button:hover{
    background-color: #AF0171;
    color: white;
    transition-duration: 300ms;
}

.features{
    background-color: rgb(121, 2, 82);
    display: flex;
    justify-content: center;
    height: 30vh;
}

.features__main{
    display: flex;
    justify-content: center;
    gap: 6rem;
}

.features__card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    width: 100%;
}

.dev__main{
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    padding: 5rem 10rem;
}

.dev__card{
    overflow: hidden;
    background-color: rgb(175, 1, 113);
    border-radius: 10px;
    width: calc(33% - 10px);
    height: 50vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.4rem;
}

.dev__card:hover{
    /* background-color: #790252; */
    filter: brightness(50%);
    transition-duration: 500ms;
}

.about{
    background-color: rgb(121, 2, 82);
    display: flex;
    justify-content: center;
    height: 30vh;
}

.about__main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 40%;
    gap: 0.6rem;
}

.footer{
    background-color: #e80f88;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}